<div class="small-12 column">
  <h2 class="text-center">Save my Money Sign In</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'small-12 column' }) do |f| %>
  <div>
  <%= f.email_field :email, :autofocus => true, placeholder: 'Email' %></div>

  <div>
  <%= f.password_field :password, placeholder: 'Password' %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: 'button small-12' %></div>
<% end %>

<div class="small-12 column">
  <%= render "devise/shared/links" %>
</div>
