<%= form_for category, html: { class: 'small-12 column'} do |f| %>
  <%= render "shared/error_messages", m: category %>
  <%= f.text_field :name, placeholder: 'Name' %>

  <%= f.submit (is_new)? 'Create': 'Edit', class: 'button success small-12' %>
  <div class="small-12 text-center">
    <%= link_to 'Back', "category_path" %>
  </div>
<% end %>
