<%= chest.name %>

<p>
  Balance: $<%= balance %>
</p>

<p>
  <%= link_to 'New Coin', new_chest_coin_path(chest) %>
</p>

<% if coins.any? %>
  <table>
    <thead>
      <tr>
        <td>Value</td>
        <td>From recurrent</td>
      </tr>
    </thead>
    <tbody>
      <% coins.each do |coin| %>
        <tr>
          <td><%= coin.value %></td>
          <td><%= coin.from_recurrent %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
