<h1><%= chest.name %></h1>

<h4>
  Balance: <span class="<%= coin_color(balance) %> label">$ <%= balance %></span>
</h4>

<p>
  <%= link_to 'New Coin', new_chest_coin_path(chest), class: 'button' %>
</p>

<% if coins.any? %>
  <table class="small-12 column">
    <tbody>
      <% coins.each do |coin| %>
        <tr>
          <td><%= coin.value %></td>
          <td><%= link_to 'Edit', edit_chest_coin_path(chest, coin) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
